.lead__image {
  padding: 0;
  margin: 0;
  display: block;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .lead__image {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__image {
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    max-width: 984px;
  }
}
